extends layout
block content
 h1= title
 - let items = results;
 - let destination = `dispatch("/lion/create")`
   button.btn( class="btn-primary ml-1", onclick= destination) Create a new lion
   each item in items
    - let destination1 = `dispatch("/lion/update?id=${item._id}")`
    - let destination2 = `dispatch("/lion/detail?id=${item._id}")`
    - let destination3 = `dispatch("/lion/delete?id=${item._id}")`
      div
       p lionName  - #{item.lionName}
       p lionCost  - #{item.lionCost}
       p Description - #{item.Description}
       button.btn( class="btn-primary ml-1", onclick= destination1) Update
       button.btn( class="btn-primary ml-1", onclick= destination2) Detail
       button.btn( class="btn-primary ml-1", onclick= destination3) Delete
       br
       br
 script.
  function dispatch(path){
   window.location.href=path
  }