extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let lionid = toShow._id
    - let lion_color = toShow.lion_color
    - let lion_breed = toShow.lion_breed
    - let lion_price = toShow.lion_price

    div
      div.row
        div(class='lionAttr mr-3') lion ID is:
        div #{lionid}
      div.row
        div(class='lionAttr mr-3') lion color is:
        div #{lion_color}
      div.row
        div(class='lionAttr mr-3') lion breed is:
        div #{lion_breed}
      div.row
        div(class='lionAttr mr-3') lion price is:
        div #{lion_price}
